receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
{%- if apache_spark_enabled %}
  apachespark:
    collection_interval: 2s
    initial_delay: 30s
    endpoint: {{ spark_metrics_endpoint }}
{%- endif %}
{%- if prometheus_scrape_enabled %}
  prometheus:
    config:
      scrape_configs:
{%- for sc in prometheus_scrape_configs %}
        - job_name: '{{ sc.job_name }}'
          scrape_interval: 15s
          metrics_path: '{{ sc.metrics_path }}'
          static_configs:
            - targets: ['{{ sc.target }}']
{%- endfor %}
{%- endif %}

processors:
  {# https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/apachesparkreceiver/documentation.md#resource-attributes #}
  transform/spark:
    metric_statements:
      - context: datapoint
        statements:
          - set(attributes["spark_application_id"], resource.attributes["spark.application.id"])
          - set(attributes["spark_application_name"], resource.attributes["spark.application.name"])
          - set(attributes["spark_executor_id"], resource.attributes["spark.executor.id"])
          - set(attributes["spark_job_id"], resource.attributes["spark.job.id"])
          - set(attributes["spark_stage_attempt_id"], resource.attributes["spark.stage.attempt.id"])
          - set(attributes["spark_stage_id"], resource.attributes["spark.stage.id"])
{%- if resource_processor_enabled %}
  transform/resource_labels:
    metric_statements:
      - context: datapoint
        statements:
          - set(attributes["service_name"], resource.attributes["service.name"]) where resource.attributes["service.name"] != nil
          - set(attributes["model_name"], resource.attributes["model.name"]) where resource.attributes["model.name"] != nil
          - set(attributes["runtime"], resource.attributes["runtime"]) where resource.attributes["runtime"] != nil
          - set(attributes["contract_id"], resource.attributes["contract.id"]) where resource.attributes["contract.id"] != nil
          - set(attributes["k8s_pod_name"], resource.attributes["k8s.pod.name"]) where resource.attributes["k8s.pod.name"] != nil
          - set(attributes["k8s_namespace_name"], resource.attributes["k8s.namespace.name"]) where resource.attributes["k8s.namespace.name"] != nil
          - set(attributes["k8s_node_name"], resource.attributes["k8s.node.name"]) where resource.attributes["k8s.node.name"] != nil
{%- endif %}
  batch:
    timeout: 0
    send_batch_size: 90
    send_batch_max_size: 100
{%- if resource_processor_enabled %}
  resource:
    attributes:
      {% for key, value in resource_attributes.items() %}
      - key: {{ key }}
        value: {{ value }}
        action: upsert
      {% endfor %}
{%- endif %}

exporters:
{%- if prometheus_enabled %}
  prometheusremotewrite:
    endpoint: {{ prometheus_endpoint }}
    tls:
      insecure: {{ prometheus_insecure }}
{%- endif %}
{%- if loki_enabled %}
  otlphttp/logs:
    endpoint: {{ loki_endpoint }}
    tls:
      insecure: {{ loki_insecure }}
{%- endif %}
{%- if tempo_enabled %}
  otlp/tempo:
    endpoint: {{ tempo_endpoint }}
    tls:
      insecure: {{ tempo_insecure }}
{%- endif %}
{%- if file_exporters_enabled %}
  file/traces:
    path: {{ telemetry_path }}/infrastructure/*.traces
    group_by:
      enabled: true
      resource_attribute: service.name
  file/metrics:
    path: {{ telemetry_path }}/infrastructure/*.metrics
    group_by:
      enabled: true
      resource_attribute: service.name
  file/logs:
    path: {{ telemetry_path }}/infrastructure/*.log
    group_by:
      enabled: true
      resource_attribute: service.name
{%- endif %}
  debug:
    verbosity: basic
    sampling_initial: 5
    sampling_thereafter: 200
  debug/noop:
    verbosity: basic
    sampling_initial: 0
    sampling_thereafter: 0
service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: []
      exporters:
{%- if file_exporters_enabled %}
        - file/traces
{% endif %}
{%- if tempo_enabled %}
        - otlp/tempo
{% endif %}
    metrics:
      receivers:
        - otlp
{%- if apache_spark_enabled %}
        - apachespark
{% endif %}
{%- if prometheus_scrape_enabled %}
        - prometheus
{% endif %}
      processors:
{%- if resource_processor_enabled %}
        - resource
        - transform/resource_labels
{%- endif %}
{%- if apache_spark_enabled %}
        - transform/spark
{%- endif %}
      exporters: 
        - debug
{%- if file_exporters_enabled %}
        - file/metrics
{% endif %}
{%- if prometheus_enabled %}
        - prometheusremotewrite
{%- endif %}
    logs:
      receivers: [otlp]
      processors: []
      exporters: 
{%- if file_exporters_enabled %}
        - file/logs
{% endif %}
{%- if loki_enabled %}
        - otlphttp/logs
{%- endif %}