UV_DEFAULT_INDEX=https://packagefeedproxy.microsoft.io/pypi/simple
PIP_INDEX_URL=https://packagefeedproxy.microsoft.io/pypi/simple
RestoreSources=https://packagefeedproxy.microsoft.io/nuget/v3/index.json
NPM_CONFIG_REGISTRY=https://packagefeedproxy.microsoft.io/npm/
